*{
    margin: 0;
    padding: 0;
}


.header{
    display: flex;
    max-width: 1270px;
    margin: 0 auto;
    justify-content:space-between;
}
/*left*/
.left {
    display: flex;
    flex-direction:column;
}
.logo {
    width: 230px;
    margin-top: 25px;
}
.intro__title {
    padding-top: 200px;
    width: 550px;
    font-weight: 200;
    font-size: 50px;
}
.intro__titletwo {
    font-family: 'Roboto', sans-serif;
    width: 400px;
    font-weight: 200;
    font-size: 20px;
    opacity: 0.8;
    margin: 20px 0px 40px;
}
/* Кнопка */
.btn {
    width: 106px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    background-color: #FF7FAA;
    padding: 11px 60px;
    border: 2px solid #FF7FAA;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;


    transition: background-color .2s linear,color;
}
.btn:hover {
background-color: #ffffff;
color: #333;
}
/* ------------ */

/*right*/
.right {
    display: flex;
}
.square {
    right: 0;
    display: flex;
    width: 500px;
    height: 837px;
    background-color: #FF7FAA;
    border-radius: 180px 0px 180px 180px;
}
.rlogo {
    width: 500px;
    margin-top: 100px;
    height: 747px;
    border-radius: 0px 0px 180px 180px;
}

.burger_btn {
    margin: 9px 420px 0px ;
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 2;
    cursor: pointer;
    margin-top: 20px;
}
.burger_btn span {
    display: flex;
    position: absolute;
    width: 30px;
    height: 3px;
    right: 0;
    background-color: black;
    transition: background-color .3s, opacity .3s, transform .5s;
    will-change: transform;
}
.burger_btn:hover span {
    background-color: rgb(103, 103, 103);
}
.burger_btn span:nth-child(1) {
    background-color: rgb(0, 0, 0);
    transform: translateY(-10px);
}
.burger_btn span:nth-child(2) {
    background-color: rgb(0, 0, 0);
}
.burger_btn span:nth-child(3) {
    background-color: rgb(0, 0, 0);
    transform: translateY(10px);
}
.right.open .burger_btn span {
    background-color: white;
}


.right.open .burger_btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.right.open .burger_btn span:nth-child(2) {
    opacity: 0;
}

.right.open .burger_btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.menu_link {
    font-size: 16px;
}
.line:after {
    content: "";
    margin: 70px auto 0;
    display: block;
    width: 250px;
    height: 2px;
    background-color: #8C759F;
}
.section {
    display: flex;
    width: 1270px;
    padding-top: 100px;
    margin: 0 auto;
}
.about {
    justify-content: space-between;
    flex-wrap:wrap;
    display: flex;
    
}
.section_about {
    order:-1;
    width: 497px;
    height: 529px;
    border: 3px solid #8C759F;
    padding: 5px;
}
.section_about2 {
    align-items:end;
    width: 497px;
    height: 529px;
    margin-top: -250px;
    border: 3px solid #8C759F;
    padding: 5px;
}
.section_about3 {
    width: 415px;
    margin: -8px 213px 0px 0px;
}
.section_suptitle {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    opacity: 0.8;
}
.section_title{
    font-size: 40px;
    padding-top: 5px;
    margin-bottom: 15px;
    font-weight: 250;
}
.section_text {
    width: 429px;
    height: 123px;
    position: absolute;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    opacity: 0.9;
    line-height: 25px;
}
.section_text2 {
    width: 478px;
    margin: 40px 0px 0px 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 250;
    opacity: 0.9;
    line-height: 25px;
}







@media (max-width: 1920px) {
    .right.burger_btn {
        display: block;
    }
    .menu {
        position: absolute;
        right: -350px;
        top: 0;
        width: 350px;
        padding: 75px 20px 20px 20px;
        background-color: #f194b3;
        visibility: hidden;
        transition: transform .5s, visibility .5s;
        will-change: transform;
    }
    .menu_link {
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px;
    }
    .right.open .menu {
        transform: translateX(-100%);
        visibility: visible;
    }
}
*/